@tailwind base;

@tailwind components;

.horizontal-center {
  @apply w-full flex justify-center;
}

@tailwind utilities;

.login-background {
  background-image: url("assets/images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
